/* Body */

body {
  margin: 0;
  padding: 0;


}

header {
  display: flex;
  background: black;
  padding: 30px 0;
  align-items: center;
}

header .toggle img{
  display: none;
}
/* Logo Carl's Jr */
header img {
  width: 10%;
  margin-left: 18px;
}

/* Liste Carl's Jr */

header ul {
  margin: 0;
  display: flex;
  align-items: center;
}

header a {
  display: inline-block;
  color: #f1f1f1;
  margin: 0;
  margin-left: 15px;
  text-decoration: none;
}

/* Link Navigation */

.linkContact {
  margin-left: 15px;
  color: black;
  background: #feca14;
  padding: 12px 18px;
  text-decoration: none;
  font-weight: bolder;
}

.linkOrder {
  padding: 12px 18px;
  margin-left: 20px;
  color: black;
  background: #e2e6ea;
  font-weight: bolder;
  text-decoration: none;
}

/* Container Slider*/

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.slider {
  margin-top: 0px;
}

.slider .slider_img {
  position: relative;
  max-width: 100%;
  margin: auto;
  display: none;
}
.slider .slider_img.active {
  display: block;
}

.slider .arrow {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.slider:hover .arrow {
  opacity: 1;
}

/* Arrow left & Right */

.previousArrow {
  animation: fade 0.8s;
  display: block;
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 50%;
  width: 60px;
  background: #262323;
  color: #ffff;
  background: #f1f1f1;
}

.nextArrow {
  animation: fade 0.8s;
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0%;
  top: 50%;
  width: 60px;
  background: #f1f1f1;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img.active {
  display: block;
  animation: fade 0.8s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Button Slider */

.cont_btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.btn_nav {
  font-size: 50px;
  margin: 0 15px;
  cursor: pointer;
}

.fa-chevron-right {
  width: 300px;
  color: white;
  background: green;
  margin-top: 30px;
}

/* Presentation Part */

.presentationPart {
  margin-top: 0px;
}

.textAndPicture {
  width: 40%;
  padding: 40px 2px;
  background-color: #343a40;
}

.titrePresentation {
  color: #f1f1f1;
  margin-left: 30px;
}
.titrePresentation img {
  display: block;
  max-width: 90px;
  margin-top: 10px;
  margin-left: 0px;
}

.container_presentation {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

/* Parapgraph */
.paraphPresentation {
  max-width: 900px;
  margin-left: 30px;
  color: #f1f1f1;
}

/* Link & BUtton Part */
.Information {
  margin-left: 15px;
  color: black;
  background: #feca14;
  padding: 12px 18px;
  text-decoration: none;
  font-weight: bolder;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}

.homepagePicture {
  background: url("./data/homepage\ pic.jpg");
  width: 60%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Youtube video */

.youtube {
  display: block;
  margin-top: 0px;
  text-align: center;
}

/* Left Burger */

.containerBurger {
  width: 100%;
  height: 300px;
  background: #feca14;
  display: flex;
  justify-content: center;
}

.leftBurger {
  background: url("./data/burger-left@2x.png");
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0;
  background-size: cover;
}

.rightBurger {
  background: url("./data/burger-right@2x.png");
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  background-size: cover;
}
.titleBurger {
  margin: 0;
  margin-top: 20px;
}
.bigTitle {
  font-size: 30px;
  margin: 0;
  margin-top: 10px;
}
.titleAndExplication {
  text-align: center;
}

/* Recipes */
.recettes {
  display: block;
  margin: auto;
  max-width: 250px;
  text-align: center;
  margin-top: 15px;
}

/* Menu Button */

.menuButton{
  display: inline-block;
  padding: 12px 18px;
  margin-left: 20px;
  color: #f1f1f1;
  background: black;
  font-weight: bolder;
  text-decoration: none;
  margin-top: 20px;
  transition: all 0.5s;
}

.menuButton:hover{
  background: #ffff;
  color: #000000;
}
/* Global Container */
.globalContainer{
  display: flex;
  flex-direction: row;
 

}
/* Picture History */

.containerLeft .leftImg {
  background: url('./data/photo-history-3@2x.jpg');
  width: 100%;
  height: 355px;
  background-size: contain;
  background-repeat: no-repeat;
}
.containerLeft{
  display: block;
  width:100%;
  
}




.containerRight{
display: block;
  width: 100%;
  
}



.containerRight .rightImg{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./data/bg-maps-select@2x.jpg");
width: 100%;
height: 355px;
background-size: contain;
background-repeat: no-repeat;
 
}

section .backgroundYellow{
  background: #feca14;
  width: 100%;
  height: 5px;
}


.titleSelect{
  color: #f1f1f1;

  margin-top: 150px;
  font-weight: bolder;
  font-size: 19px;
}
.subtitleSelect{
  font-size: 19px;
  color: #f1f1f1;
  margin-top: 12px;
 
}
select{
  text-align: center;
  padding: 12px 0;
  margin-top: 20px;
  font-size: 16px;
}

.rightImg .localisationPicture {
  width: 100%;
}

/* Footer Part */

footer{
  
  background: #262323;
  width: 100%;
  padding: 30px 0px;
}

footer img {
  width: 12%;
  margin-left: 10px;
}

.conditionGeneral{
  text-align: center;

}

.conditionGeneral a {
  color: #f1f1f1;
  text-decoration: none;
  margin-left: 10px;
}

.activitePhysique{
  color: #f1f1f1;
  text-align: center;
  margin-top: 15px;
}

.mangerbougerWebSite{
  color: #f1f1f1;
}

.creator{
  color: #f1f1f1;
}
@media screen and (max-width: 428px) {
  header {
    display: block;
  }

  header .toggle img{
    display: block;
    width: 10%;
    background: #f1f1f1;
  }

  .linkContact{
    display: none;
  }
  .linkOrder{
    display: none;
  }

  header img{
    display: block;
    margin: auto;
   width: 40%;
  }

  header ul {
    display: block;
  }

  .toggleMenu{
    position: absolute;
    right: 2px
  }
  header .linkNavigation{
    display: flex;
    flex-direction: column;
    display: none;
  }
  header .linkNavigation a {
    margin-left: 15px;
  }

  /* Slider */
  .slider{
    margin: 0;
  }

  .presentationPart{
    margin: 0;
  }

  .youtube {
    width: 100%;
  }

  /* Container presentation */
  .container_presentation {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  /* Container Burger */
  .containerBurger{
    margin: 0;
  }

  .textAndPicture {
    width: 100%;
 
  }

  .Information{
    display: inline-block;
  
  }

  .homepagePicture {
    background: url('./data/homepage\ pic.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 210px;
    margin: 0;
   
    
  }
/* Video youtube */
  .youtube {
    display: none;
  }

  .slider .arrow {
    opacity: 0;
  }

  .containerSlider:hover .arrow{
    opacity: 1;
  }

 

  .previousArrow {
    position: absolute;
    width: 10%;
    top: 20%;
  }

  .nextArrow {
    position: absolute;
    width: 10%;
    top: 20%;
  }

  .containerBurger{
    position: relative;
    height: 550px;
  }

  .titleAndExplication{
   margin-top: 230px;

  }
  /* Left Burger */
  .leftBurger{
    position: absolute;
    top: -20px;
    width: 50%;
    
    
  }
  .rightBurger{
    position: absolute;
    top: -20px;
    right: 0px;
    width: 60%;
   
  }

  .globalContainer{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .containerLeft{
    display: block;
    width: 100%;
    margin: 0;
  }

  .containerRight{
    margin: 0;
  
    width: 100%;
   
  }

  select{
    padding: 20px 0px;
    width: 60%;
  }
  .titleSelect{
    margin: 0;
  }
  .containerRight .subtitleSelect{
    max-width: 200px;
  }
  .containerLeft .leftImg{
   width: 100%;
   height: 210px;
    
  }
  .containerRight .rightImg{
    width: 100%;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  footer{
    margin-top: 0;
    height: 350px;
  }

  footer img {
    width: 50%;
    display: block;
    margin: auto;
  }
  .conditionGeneral{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 20px;
  }
  .conditionGeneral a {
    margin-top: 15px;
  }
  .activitePhysique{
   max-width: 400px;
   font-size: 20px;
   font-size: bolder;
   margin-top: 40px;
  }
 .activitePhysique p {
  display: none;
 }
 .activitePhysique .creator{
  display: none;
  
 }
}
